p {
  padding: 5px;
}
   
.routines {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.eachRoutine {
  border: 1px solid black;
  margin: 10px;
  background-color: lightgray;
}

.activities {
margin: 10px;
background-color: rgba(217, 210, 241, 0.514);
}

.delete-btn {
background-color: rgba(236, 100, 100, 0.336);
border: 1px solid black;
}
.routines-title {
  margin: 3vh;
}
.add-routine-btn {
  border-radius: 5px;
  background-color: lightgreen;
  padding: 10px;
  margin: 5vh;
  height: 2vh;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}
.add-routine-btn:hover {
  background-color: palegreen;
}
.table-wrapper {
  display: flex;
  justify-content: center;
}
.routines-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75vw;
  margin-top: 5vh;
}

.routines-table td, .routines-table th {
  border: 1px solid black;
  padding: 8px;
}

.routines-table tr:nth-child(even){background-color: #f2f2f2;}

.routines-table th {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: left;
  background-color: lightgreen;
  text-align: center;
}
.activity-description p{
  display: inline-block;
}
.routine-name {
  margin-top: 3vh;
}
.main-table tr:nth-child(even){background-color: #f2f2f2;}
.main-table .routines-table {
  margin: 2vh;
}
.add-routine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 50px;
}
input {
  height: 5vh;
  border-radius: 5px;
}
.submit-routine-btn {
  background-color: deepskyblue;
  border-radius: 5px;
  width: 25vw;
  margin: 10px;
  padding: 10px;
}
.submit-routine-btn:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

svg:hover {
  color: red
}

svg {
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.add-svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  font-size: 1rem;
  color: rgb(99, 202, 78);
  cursor: pointer;
}

.fa-edit:hover {
  color: deepskyblue;
}
.add-svg:hover{
  color: rgb(55, 141, 55);
}